@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: calc(100vh - 4rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/premium-vector/dungeon-with-long-corridor-with-ladder-steps-up-medieval-castle-corridor-with-torches-doors_273525-1097.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703548800&semt=ais");
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/premium-vector/dungeon-with-long-corridor-with-ladder-steps-up-medieval-castle-corridor-with-torches-doors_273525-1097.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703548800&semt=ais");
}

.container {
  background-image: url("https://img.freepik.com/premium-vector/dungeon-with-long-corridor-with-ladder-steps-up-medieval-castle-corridor-with-torches-doors_273525-1097.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703548800&semt=ais");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  box-sizing: border-box;
  filter: brightness(50%);
  display: flex;
}

.content {
  background: black;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px black;
  z-index: 100;
}

.logo {
  font-size: 8rem;
  color: rgb(102, 45, 6);
  text-align: center;
  font-family: fantasy;
}

#canvas {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: 5px solid black;
}

.join {
  text-align: center;
  margin: auto;
  border: none;
  padding: 1rem 4rem;
  background: white;
  display: block;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: all 500ms;
  border: 5px solid white;
}

.join:hover {
  transform: translateY(-10px);
  background: black;
  color: white;
}

#games {
  color: white;
}
